<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/contatos.css')}}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/estilos.css')}}">
</head>
<script src="https://kit.fontawesome.com/b01f879dd9.js" crossorigin="anonymous"></script>
    <body>
        <header>
            <img src="../static/images/logoo.jpg" alt="logo" class="logo">
            <a class="bv">BEM-VINDO AO MEU PORTFÓLIO!</a>
        </header>

        <main>
            <div class="contatos">
                <h1 class='cont'>Contatos</h1>
                <ul class='info'>
                    <li>E-mail:maritamay4@gmail.com</li>
                    <li>Instagram: <a href="https://www.instagram.com/yumii_yumee/">@yumii_yumee</a></li>
                    <li>GitHub: <a href="https://github.com/Mariayumi">Mariayumi</a></li>
                </ul>
            </div>
        </main>

        <footer>
            <a class="rotas" href="/index">HOME</a>  <a class="rotas" href="sobremim">Sobre mim</a>  <a class="rotas" href="curriculo">Currículo</a>  <a class="rotas" href="contatos">Contatos</a> <br>
            <a href="https://www.youtube.com/channel/UCrwXiSJwG6D0_7lO4GiEt6Q/featured"><i class="fab fa-youtube"></i></a> <a href="https://www.instagram.com/yumii_yumee/" ><i class="fab fa-instagram"></i></a> <a href="https://github.com/"><i  class="fab fa-github"></i></a>
        </footer>

    </body>
</html>