<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/contatos.css')}}">
</head>
    <body>
        <header>
            <img src="../static/images/logoo.jpg" alt="logo" class="logo">
            <a class="bv">BEM-VINDO AO MEU PORTFÓLIO!</a>
        </header>

        <main>
            <div class="contatos">
                <h1 class='cont'>Contatos</h1>
                <ul class='info'>
                    <li>E-mail:maritamay4@gmail.com</li>
                    <li>Instagram: <a href="https://www.instagram.com/yumii_yumee/">@yumii_yumee</a></li>
                    <li>GitHub: <a href="https://github.com/Mariayumi">Mariayumi</a></li>
                </ul>
            </div>
        </main>

        <footer></footer>

    </body>
</html>