<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/sobre_mim.css')}}">
</head>
<body>
    <header>
        <img src="../static/images/logoo.jpg" alt="logo" class="logo">
        <a class="bv">BEM-VINDO AO MEU PORTFÓLIO!</a>
    </header>
    <main>
        <div>
            <h1 class='qse'>Quem sou eu</h1>
            <p class='ola'>Olá! Meu nome é Mariana, tenho 18 anos e, apesar de tímida no começo, sou bem sociável. Ademais, possuo um amor pela culinária e arte, os quais costumo praticar constantemente.</p>
        </div>
    
        <div>
            <h1 class='hob'>Hobbies</h1>
            <p class='int'>Em meu tempo livre costumo desenhar, de forma digital, praticar pintura ou cozinhar. Além desses passatempos, passo o meu tempo lendo livros, assistindo à séries ou ouvindo música.</p>
        </div>
    
        <div class="inte">
            <h1 class='inter'>Interesses</h1>
            <ul class='musica'>
                <li>Stray kids - Thunderous</li>
                <li>AJR - Way less sad</li>
                <li>Ben Rector - It would be you</li>
                <li>Maneskin - I WANNA BE YOUR SLAVER</li>
            </ul>

            <ul class='jogos'>
                <li>GRISS</li>
                <li>To the Moon</li>
                <li>Overwatch</li>
            </ul>

            <ul class='sl'>
                <li>Harry Potter</li>
                <li>A Seleção</li>
                <li>Os 13 Problemas</li>
                <li>Explicando</li>
                <li>Origem do sabor</li>
            </ul>
            <h2 class='mus'>Música</h2>
            <h2 class='jg'>Jogos</h2>
            <h2 class='seli'>Séries/Livros</h2>
            <div class='bloco6'></div>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>