<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/sobre_mim.css')}}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/estilos.css')}}">
</head>
<script src="https://kit.fontawesome.com/b01f879dd9.js" crossorigin="anonymous"></script>
<body>
    <header>
        <img src="../static/images/logoo.jpg" alt="logo" class="logo">
        <a class="bv">BEM-VINDO AO MEU PORTFÓLIO!</a>
    </header>
    <main>
        <div class="container">
            <div class="sobremim">
                <h1 class='qse'>Quem sou eu</h1>
                <p class='ola'>Olá! Meu nome é Mariana, nasci e atualmente moro em São José dos Campos. Sou uma artista digital desde 2018 e passei a me interessar por programação recentemente.</p>
            </div>

            <div class="inte">
                <h1 class='inter'>Interesses</h1>
                <h2 class='mus'>Música</h2>
                <ul class='musica'>
                    <li>Stray kids - Thunderous</li>
                    <li>AJR - Way less sad</li>
                    <li>Ben Rector - It would be you</li>
                    <li>Maneskin - I WANNA BE YOUR SLAVER</li>
                </ul>
    
                <h2 class='jg'>Jogos</h2>
                <ul class='jogos'>
                    <li>GRISS</li>
                    <li>To the Moon</li>
                    <li>Overwatch</li>
                </ul>
    
                <h2 class='seli'>Séries/Livros</h2>
                <ul class='sl'>
                    <li>Harry Potter</li>
                    <li>A Seleção</li>
                    <li>Os 13 Problemas</li>
                    <li>Explicando</li>
                    <li>Origem do sabor</li>
                </ul>
            </div>
        
            <div class="hobbies">
                <h1 class='hob'>Hobbies</h1>
                
                <h2>Arte</h2>
                <p class='int'>Meu amor pela arte me ajudou a desenvolver meu próprio estilo e se tornou um novo hobby que pratico quando tenho tempo livre. Software mais utilizado: Photoshop. Publicações no meu Instagram: <a href="https://www.instagram.com/yumii_yumee/">@yumii_yumee</a></p>
                
                <h2>Cozinha</h2>
                <p>Desde o início da pandemia, investi em um novo hobby: fazer doces. Eu faço isso pelo menos uma vez por semana. É um ótimo hobby praticar minhas habilidades organizacionais, minha disciplina e meu foco. Além disso, ter um novo hobby me daria o desafio de que precisava para sair da minha zona de conforto, que é computação/design gráfico.</p>
            </div>
        
        </div>

    </main>

    <footer>
        <a class="rotas" href="/index">HOME</a>  <a class="rotas" href="sobremim">Sobre mim</a>  <a class="rotas" href="curriculo">Currículo</a>  <a class="rotas" href="contatos">Contatos</a> <br>
        <a href="https://www.youtube.com/channel/UCrwXiSJwG6D0_7lO4GiEt6Q/featured"><i class="fab fa-youtube"></i></a> <a href="https://www.instagram.com/yumii_yumee/" ><i class="fab fa-instagram"></i></a> <a href="https://github.com/"><i  class="fab fa-github"></i></a>
    </footer>

</body>
</html>