<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadêmico/Projetos</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/trabalhos.css')}}">
</head>
<body>
    <header>
        <img src="../static/images/logoo.jpg" alt="logo" class="logo">
        <a class="bv">BEM-VINDO AO MEU PORTFÓLIO!</a>
    </header>

    <main>
        <div class="acad">
            <h1 class='tr'>Acadêmico</h1>
            <p class='txt1'>Colégio Iguatemy <br/> Ensino Médio <br/> 2018 - 2020</p>
            <p class='txt2'>SAGA <br/>Curso de Adobe <br/>2018 - 2020</p>
            <p class='txt3'>Grupo de Estudos Avançados<br/>Ciclo 1 - Turma de Robótica<br/>2019</p>
        </div>

        <div class="proj">        
            <h1 class='tf'>Projetos</h1>
            <p class='txt4'>Jornal Voz do Iguatemy <br/> Criação de charges <br/> 2019</p>
            <p class='txt5'>Portfólio <br/> Criação de uma página pessoal<br/> Em andamento... <br/> 2021</p>
            <p class='txt6'>API <br/> Projeto Semestral da FATEC-sjc <br/>Em andamento... <br/> 2021</p>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>