body{
    background-color: rgb(141, 134, 201);
}
.bemvindo{
    position: absolute;
    width: 1100px;
    height: 84px;
    left: 231px;
    top: 120px;
    font-size: 64px;
    background-color: #9067C6;
    color: white;
    border-radius: 24px;
    text-align: center;
}
.posicao{
    position:absolute;
    width: 1520px;
    height: 350px;
    left: 0px;
    top: -55px;
    background: #242038;
    border-radius: 38px;
    z-index: -1;
}
p{
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

