.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40vh 115vh;
    text-align: center;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    height: fit-content;
    margin: 60px;
}

.container > div{
    margin: 40px;
    padding: 10px;
    border-radius: 20px;
    height: fit-content;
    background-color: #F7ECE1;
    box-shadow: #6F66B5 20px 20px 2px;
    text-align: center;
}

p, ul{
    font-size: 25px;
    list-style: none;
}

ul{
    position: relative;
    left: -20px;
}

h1{
    font-size: 30px;
    background-color: #242038;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
}

h2{
    font-size: 25px;
    background-color:#9067C6;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .container{
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh;
        min-width: 400px;
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    .container > div{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 420px) {
    .container{
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh;
        min-width: 360px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
}
