.cont{
    position: relative;
    width: fit-content;
    padding: 10px;
    background-color: #242038;
    color: white;
    text-align: center;
    border-radius: 14px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.info{
    list-style: none;
    line-height: 42px;
    width: 390px;
    color: #9067C6;
    font-size: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contatos{
    position: relative;
    max-width: 20%;
    min-width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 20px;
    background-color: #F7ECE1;
    display: block;
    margin: 80px auto 80px auto;
    box-shadow: #6F66B5 20px 20px 2px;
}

@media screen and (max-width: 500px){
    .contatos{
        max-width: 30%;
        min-width: 300px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .info{
        position: relative;
        font-size: 20px;
        left: -30px;
        width: 320px;
    }
    .cont{
        font-size: 25px;
    }

}
