.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    text-align: center;
    grid-row-gap: 320px;
    grid-column-gap: 10px; 
    height: fit-content;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 60px;

}

.container > div{
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    background-color: #F7ECE1;
    box-shadow: #6F66B5 20px 20px 2px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 60px;
}

.tr, .tf, .exper, .trab{
    font-size: 30px;
    background-color: #242038 !important;
    color: white !important;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
}

h2{
    font-size: 30px;
    color:#9067C6 !important;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
}

h1, h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exp, .tv{
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 700px;
    max-width: 80%;
}

.tv{
    position: relative;
    top: -220px;
}

@media screen and (max-width: 990px) {
    .container{
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh;
        min-width: 400px;
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    .container > div{
        margin-bottom: 50px;
    }

    .tv{
        position: relative;
        top: 10px;
    }

    .tv, .exp{
        min-width: 350px;
        max-width: 150%;
    }
}

@media screen and (max-width: 420px) {
    .container{
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    .tv, .exp{
        min-width: 250px;
        max-width: 150%;
    }
    .tr, .tf, .exper, .trab{
        font-size: 25px;
        padding: 10px;
        width: fit-content;
    }
    .exp > h2{
        width:fit-content;
    }
    .tv > h2{
        width: fit-content;
    }
}